.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
    margin: 0;
}

.container{
    padding: 3rem;
    border-radius: 1rem;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form{
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 1rem;
    column-gap: 3rem ;
    justify-content: center;
    align-items: center;
}

.title{
    margin: 2rem;
    text-align: center;
}

label{
    font-weight: bold;
}

.char-amt{
    display: flex;
    align-items: center;
}

.number-input{
    width: 2.3rem;
}

.password-display{
    background-color: black;
    color: white;
    padding: 1rem;
    border: 1px solid white;
    margin-bottom: 1.5rem;
    height: 4rem;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-all;
    border-radius: .5rem;
}

.btnn{
    grid-column: span 2;
    background-color: transparent;
    border: 2px solid black;
    color: black;
    padding: .5rem 1rem;
    font-family: bold;
    cursor: pointer;
    border-radius: 1rem;
}

.btnn:hover{
    background-color: black;
    color: white;
}